<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <groups>
        <run>
            <include name="runners"></include>
        </run>
    </groups>
    <listeners>
        <listener class-name="com.tutorialsninja.demo.customelistener.CustomListeners"/>
    </listeners>
    <test name="Login Test" >
        <classes>
            <class name="com.tutorialsninja.demo.testsuite.TopMenuTest"/>
        </classes>
    </test>
</suite>